<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".screen.history.HistoryScreen"
            android:exported="false"
            android:label="@string/title_activity_transaction_list_screen"
            android:theme="@style/Theme.SnipByStockbit" />
    </application>

</manifest>